.outer1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.outer2{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-items: center;
}
.outer3{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
.warn{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    display:none;
}
.warn_button{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
#outer{
    height: 50vh; 
  width:24vw;  
  border-collapse: collapse;
  background-color: white;
}
.outer_data{
  border: 2px solid black;
}
.inner{
    height: 16vh;
    width: 7.7vw;
    border-collapse: collapse;
}
.small{
    border:1px solid black;
}
.data{
    height: 4.6vh;
    width: 2.3vw;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}
